/* body {
    font-family: sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  .container {
    background-color: #6c63ff;
    color: white;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #6c63ff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #e0e0ff;
  }
  