* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #dbeafe;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3a8a;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #1e40af;
}

input {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #1e40af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1e3a8a;
}

#resultado {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #1e40af;
}
