* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: blanchedalmond;
}

header {
    background-color: rgb(226, 60, 60);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0 10px;
}

* a:hover {
    transform: scale(1.5);
    transition: transform 0.5s;
}

h1 {
    text-align: center;
    padding: 30px;
}

.container {
    text-align: center;
    width: 400px;
    color: white;
    background-color: brown;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
}

.container button {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: brown;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.container p {
    font-size: 20px;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #263138;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

footer a {
    color:  rgb(226, 60, 60);
}