.progress-container {
  width: 80%;
  max-width: 500px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  margin: 60px auto 20px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00f, #8000ff);
  transition: width 0.5s ease;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #8000ff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e00c5;
}