* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #ffffff;
    margin: 50px auto;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8bd3dd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  
  /* Adicione ao final do CSS anterior */
body.dark {
    background-color: #121212;
    color: #eee;
  }
  
  body.dark .container {
    background: #1e1e1e;
  }
  
  body.dark button {
    background-color: #444;
    color: #eee;
  }
  